/* .app {
    padding: 0;
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(183deg, rgba(255,255,255,1) 25%, rgba(69,92,159,1) 87%);  
} */

.app {
    padding: 0;
    margin: 0;
    /* width: 100vw;
    display: flex;
    justify-content: center; */
    background: rgb(53,122,215);
    background: linear-gradient(183deg, rgba(53,122,215,1) 5%, rgba(69,92,159,1) 100%);   
}

.fixed_navbar {
    margin-top: 56px;
}