.card_container {
    background-color: rgba(255, 255, 255, 0.922);
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.273);
    margin: 10px;
    max-width: 300px;
    max-height: 270px;
    display: flex;
    align-items: center;
}

.card_container p {
    font-size: 15px;
}

h4 {
    margin: 0px;
    font-size: 20px;
}

.card_container > img {
    margin: 0px 20px 0px 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.contain__img {
    width: 200px;
    padding-top: 8px;
}

.card-body {
    padding-top: 2px;
}

@media only screen and (max-width: 968px) {
    .card_container p {
        font-size: 10px;
        max-width: 200px;
    }

    .contain__img {
        width: 100px;
    }

    h4 {
        font-size: 15px;
    }

}