.toggle {
    border: none;
}

/* .navbar-toggler {
    border: none;
} */

.navbar-toggler-icon {
    width: 15px;
    height: 15px;
    /* padding: 2px 2px 2px 2px; */
}

.navbar {
 background-color: #357ad7;
 /* position: fixed;
 top: 10;
 left: 0;
 right: 0;
 z-index: 9999; */
}